@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    font-weight:200;
}

.topnav{
    padding:0.6rem;
    position: relative;
    overflow: hidden;
    background-color: rgb(46, 45, 45);
}
.topnav a{
    margin-left: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.7rem;
    text-decoration: none;
    

}
.applyNow{
    color: black !important ;
    float: right;
    margin-right: 3rem;
    background-color: #f6fff4;
    border-radius: 60px;
    padding:5px 10px ;
    text-decoration: none;
    font-weight: 600;
    

}
.applyNow:hover{
    background-color: #727070;
    color: rgb(255, 255, 255) !important;
    transition: 0.2s;

}
.topnav img{
    padding-right:3px;
    width:15px;
    height:15px;
    margin:auto;
    
}
/* NAVBAR */
header{
    background-color:#d2f1d9 !important;
    padding:0.6rem;
}
header a{
    color: rgb(0, 0, 0) !important;
    margin-left: 3rem;
    text-decoration: none;
    font-weight: 400;
}
header .edu{
    font-weight: 900;
    font-size: 1.4rem;
    color:#1d1d1d !important;
    letter-spacing:0.9px;
}
header .search-bar{
    float:right;
    margin-right: 3rem;
    outline: none;
}
header input{
    border-radius: 4px;
    padding:8px;
    outline: none;
    width: 260px;
    background-color:#d2f1d9 !important;
}
header input::placeholder{
    color: rgb(75, 73, 73) !important;
    font-size: 0.6rem;
}
header input:hover{
    outline: none;
}
/* HERO_START ===========================================================*/
.hero-img{
    background-image: url(/images/college2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:74vh;   
    opacity: 0.87; 
}
hero-section, h2{
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.6rem;
    line-height: 1.3;
    color: rgb(255, 255, 255)
}
hero-section,.read{
    border-radius: 30px;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:12px 30px;
    font-size:1rem;
    font-weight: 600;
    background-color: #b7d6aa;
    border: none;
    text-decoration: none;
    text-align: center;
    color:black;
}